@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Italiana&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Amiko:wght@100;200;300;400;500;600;700&display=swap);

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1260px;
}

.navbar {
    background: black;
    width: 100%;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    gap: 90%;
}

/* navbar section end*/
/* <!-- section 1 start --> */
.web-main {
    background: black;
}

.web-h1 {
    color: #fff;
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.web-design {
    padding: 174px;
    padding-bottom: 260px;
}

.web-p {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 54px;
    color: #fff;
}

/* <!-- section 1 end --> */

/* about-me section start */


.about-list {
    justify-content: center;
    padding-bottom: 160px;
    padding-top: 60px;
    max-width: 700px;
}


.about-p {
    margin-top: 18px;
}

.about-h11 {
    margin-top: 80px;
}

.lang-1 {
    margin-top: 15px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-left: -25px;
}


.lang-2 {
    margin-top: 15px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-left: -26px;
}

.span-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.car-card {
    width: 360px;
    height: 455px;
    background-image: url(./images/car.png);
    background-repeat: no-repeat;
    background-color: black;

}


.card-list {
    padding: 20px;
}

.card-h1 {
    color: #fff;
    font-family: sans-serif;
}

.card-p {
    color: #fff;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif\;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}




/* button */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}


/* 16 */
.btn-16 {
    border: none;
    color: #000;
    background-color: #D9D9D9;
    width: 240px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button>img {
    margin: 0;
}

.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px rgba(180, 178, 178, 0.6),
        -4px -4px 5px 0px rgba(163, 162, 162, 0.6),
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-16:hover {
    color: #000;
}

.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}



.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.btn {
    margin-bottom: 80px;
}

/* about-me section end */


/* footer section start */
.footer {
    background-color: #000;
}

.footer-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px;
    padding-bottom: 150px;
}

.footer-a {
    color: #fff;
    cursor: pointer;

}

a {
    text-decoration: none;
    list-style: none;
}


.contact {
    display: flex;
    gap: 20px;
}

.mail {
    display: grid;

}

/* footer section end */






/* project start */


.project-card__wrapper {
    margin-top: 90px;
}






/* contact page start */


/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;

}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;

}

/* active state */
input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}


.form-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}


form {
    display: flex;
    flex-direction: column;
}